<a href="https://colab.research.google.com/github/JustinJohnsonK/OptionShortStraddle/blob/main/NIFTY_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NIFTY DAY CHANGE ANALYSIS AND HOW TO PREDICT**

Here I collected all the historic data for nifty from [NSE website](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm)
and calcuate the day change from opening and closing price.

Next we collect all the Central Pivot Range values and match the values to the change in nifty daily.

Hence we will be able to get a range for CPR which will help us to predict the market will be trending today or not.

This help us create straddle for intradays and create more probability for the trades taken.

In [2]:
import pandas as pd
import numpy as np
import os
import glob

In [3]:
# Merge all files from Nifty historic data
path = '/content/drive/MyDrive/NiftyData'              # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

In [4]:
len(df.index)

2718

In [5]:
# Find Percentage chage in a day
find_change = lambda v1, v2: (abs(v1-v2)*100)/(v1)

In [6]:
# Calculate CPR range or width - using previous day Low, High and Close 
def CPR_Range(Low, High, Close):
  Pivot = (High + Low + Close)/3
  Bottom_CPR = (High + Low)/2
  Top_CPR = (Pivot - Bottom_CPR) + Pivot
  return abs(Top_CPR - Bottom_CPR)

In [7]:
df["Change"] = [find_change(row["Open"], row["Close"]) for index, row in df.iterrows()]

In [16]:
# Sort the merged files based on date
df['Date'] =pd.to_datetime(df.Date)
df = df.sort_values(by="Date")

In [20]:
df["Date"]

2466   2010-06-28
2467   2010-06-29
2468   2010-06-30
2469   2010-07-01
2470   2010-07-02
          ...
244    2021-06-04
245    2021-06-07
246    2021-06-08
247    2021-06-09
248    2021-06-10
Name: Date, Length: 2718, dtype: datetime64[ns]

In [ ]:
df["CPR_Width"] = [CPR_Range(row["Low"], row["High"], row["Close"]) for index, _ in df.iterrows() if index>0]

In [12]:
df.head()

          Date      Open      High  ...  Shares Traded  Turnover (Rs. Cr)    Change
0  15-Jun-2020   9919.35   9943.35  ...      716053036           31926.65  1.065090
1  16-Jun-2020  10014.80  10046.15  ...      899895044           36257.89  1.006510
2  17-Jun-2020   9876.70  10003.60  ...      685418390           30700.69  0.045056
3  18-Jun-2020   9863.25  10111.20  ...      622895963           28594.32  2.315667
4  19-Jun-2020  10119.00  10272.40  ...      892096343           48103.56  1.239253

[5 rows x 8 columns]

In [ ]:
# Plot the Day change histogram
df["Change"].plot(kind="hist")

In [ ]:
# Plot the relation between CPR and Nifty range
df.plot(x='Change', y='CPR_Width', style='o')